/* Default */

body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: 'Avenir_Book';
  transition: background 0.25s ease-in-out;
  overflow-x: hidden;
}
.active{
  font-weight: 600;
  border-bottom: 2px var(--color-text-primary) solid;
}

::-webkit-scrollbar {
  display: none;
}

.month_active{
  text-decoration: 'line-through';
}
/* h1 {
  color: var(--color-text-secondary);
} */
/* Font Faces */
@font-face {
  font-family: 'Avenir_0';
  src: url('../public/fonts/Avenir_0.ttc');
}
@font-face {
  font-family: 'Avenir_Custom_Outline';
  src: url('../public/fonts/Avenir-95-Custom.Outerline-Normal.ttf');
}
@font-face {
  font-family: 'Avenir_Book';
  src: url('../public/fonts/AvenirLTStd-Book.otf');
}
@font-face {
  font-family: 'Avenir_Light' ;
  src: url('../public/fonts/AvenirLTStd-Light.otf');
}
@font-face {
  font-family: 'Avenir_Roman';
  src: url('../public/fonts/AvenirLTStd-Roman.otf');
}

.hover{
  cursor: pointer;
}
.active-filter-year{
  color : #000;
  font-weight: 600;
}
.active-filter-month{
  text-decoration: line-through;
  font-weight: 600;
}

/* Work Filter */
.breadcrumb{
  background : transparent;
}
.breadcrumb .breadcrumb-item a{
  color : var(--theme-primary-color)
}
.portfolio-filter-active{
  font-weight: 600;
  color : red;
}
