.navigation{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    align-content: center;
}
.navigation a{
    color : var(--color-text-primary);
    text-decoration: none;
    font-size: var(--font);
    font-weight: 700;
}
.switch{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    align-content: center;
}