.SplitNav{
    position: fixed;
    overflow : hidden!important;
    background : #fff;
    /* color : #000; */
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    z-index : 99;
    
}

.main{
	position: relative;
}
.topNav{
    display:flex;
    justify-content: space-between;
    padding-top : 30px;
    padding-left: 36px;
}
.closeDiv{
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
	position: absolute;
	z-index: 2;
}
.close{
    font-size: 13px;
    margin-left: 10px;
    font-weight: 600;
}
.sideNav{
    display:flex;
    align-content: center;
    align-items: center;
    height: 100vh;
    
}
.sideNav .ul{
    list-style: none;
}

.childUl{
    position: absolute;
    top: 8px;
    left: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    margin: 0;
    transition: .3s;
	width : 200%;
	list-style : none;
}
.childUl li{
	white-space: nowrap;
    font-size: 14px!important;;
    letter-spacing: .51px!important;;
    text-transform: initial!important;;
    font-weight: 400!important;;
}
.sideNav .ul li{
    font-weight: 500;
    font-size: 16px;
    line-height: 2.38;
    text-transform: uppercase;
    letter-spacing: 2.46px;
    color: #000;
    position: relative;
    cursor: pointer;
}

.sideNav .ul .hasChild:hover > .childUl{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.nav-content-1{
	opacity: 0;
	background-image: url('../public/hover/1.jpg');
}
.nav-content-2{
	opacity: 0;
	background-image: url('../public/hover/2.jpg');
}
.nav-content-3{
	opacity: 0;
	background-image: url('../public/hover/3.jpg');
}

.show{
	opacity: 1;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}






@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

@keyframes slideUp {
	0% {
		-webkit-transform: translateY(0%);
	}
	50%{
		-webkit-transform: translateY(4%);
	}
	65%{
		-webkit-transform: translateY(-2%);
	}
	80%{
		-webkit-transform: translateY(8%);
	}
	95%{
		-webkit-transform: translateY(-4%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(0%);
	}
	50%{
		-webkit-transform: translateY(4%);
	}
	65%{
		-webkit-transform: translateY(-2%);
	}
	80%{
		-webkit-transform: translateY(8%);
	}
	95%{
		-webkit-transform: translateY(-4%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}